/*MENU*/

header{
    width: 100%;
    padding: 20px 8%;
}

#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a{
    color: #1d1d1d;
    border-bottom: 3px solid #4d98ca;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

@media screen and (max-width: 1170px){
    #nav-list{
        display: none;
    }
    #mobile-btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 8px;
    }
    #mobile-nav-list .nav-item{
        list-style: none;
        text-align: center;
    }
}

/*
nav{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(1, 17, 29, 0.644);
    color: rgb(231, 228, 228);
    width: 15rem;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;
    align-items: center;

}

nav > a:hover{
    background-color: rgba(93, 158, 202, 0.932);
    padding: 4px;
    width: 5rem;
    text-align: center;
    transition-duration: 0.1s;
}

nav > a:visited{
    color: white;
}
*/